/** Add css rules here for your application. */

body {
	margin: auto; /* center in viewport */
	font-family: 'Century Gothic';
}


h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.columnHeader {
	text-align: center;
	font-weight:bold;
	font-size: 16px;
	padding : 10px;
	background-color: gray;
}


.columnOdd {
	background-color:yellow;	
}

.columnEven {
	background-color:blue;	
}

.stickyKey {
	text-align: center;
	font-weight:bold;
	text-decoration:underline;
	font-size: 12px;
}

.summary {
	font-style:italic
}

.stickyHeader {
	margin-top: 0px;	
}

.sticky {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  margin: 10px;
  margin-top : 20px;
  padding: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  
}
.sticky.taped:after {
  display: block;
  content: "";
  position: absolute; 
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;    
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);  
}
